.form-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form-input,
.form-preview {
	width: 47.5%;
}

.form-input form,
.form-preview {
	display: flex;
	flex-direction: column;
}

.form-input input,
.form-input textarea {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-bottom: 20px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #222;
	font-size: 1em;
}

.form-preview {
	word-break: break-all;
}

.preview-contents {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	padding: 25px;
	background-color: white;
	box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.1);
	white-space: pre-wrap;
}

.preview-entry {
	font-size: 1.25em;
	margin-bottom: 10px;
}

#preview-message {
	margin-top: 25px;
}